/* restaurant-service-dashboard/src/components/menu/MenuFilter.module.css */
.filter {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter label {
  font-weight: 500;
}

.filter select {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  cursor: pointer;
}
