/* restaurant-service-dashboard/src/pages/Dashboard/Menu.module.css */

.container {
  padding: 1.5rem;
  background: #f9f9f9;
  border-radius: 12px;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #222;
}
